<aside class="sidebar">
  <nav class="menu">
    <a href="#" data-link="dashboard">Dashboard</a>
    <a href="#" data-link="productos">Productos</a>
    <a href="#" data-link="compras">Compras</a>
    <a href="#" data-link="almacen">Almacén</a>
    <a href="#" data-link="inventario">Inventario</a>
    <a href="#" data-link="ventas">Ventas (POS)</a>
    <a href="#" data-link="caja">Caja</a>
    <a href="#" data-link="clientes">Clientes</a>
    <a href="#" data-link="cotizaciones">Cotizaciones</a>
    <a href="#" data-link="transferencias">Transferencias</a>
    <a href="#" data-link="reportes">Reportes</a>
    <a href="#" data-link="parametros">Parámetros</a>
    <a href="#" data-link="usuarios">Usuarios</a>
  </nav>
</aside>